<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.louisbl.cordova.tests.locationservices" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TestsLocationServices</name>
    <description>
        A simple Apache Cordova application that tests the cordova-plugin-locationservices.
    </description>
    <author email="louis@beltramo.me" href="http://louisbl.fr">
        louisbl
    </author>
    <content src="cdvtests/index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-test-framework" spec="http://git-wip-us.apache.org/repos/asf/cordova-plugin-test-framework.git" />
    <plugin name="cordova-plugin-locationservices" spec="https://github.com/louisbl/cordova-plugin-locationservices.git" />
    <plugin name="cordova-plugin-locationservices-tests" spec="./plugins/cordova-plugin-locationservices/tests" />
</widget>
